/* header */
.header {
    width: 1920px;
    margin: 0 auto;
}
.navigation-flex {
    display: flex;
    justify-content: space-between;
    width: 1708px;
    margin: 0 auto;
}
.header img {
    margin-top: 67px;
}
.nav-ul {
    display: flex;
    justify-content: space-between;
    width: 581px;
    margin-top: 87px; 
}
.nav-ul a {
    color: #3D37F1;
    font-family: 'Lato';
    font-size: 20px;
    font-weight: bold;
}

/* 1 section */
.section1 {
    width: 1708px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-container h1 {
    width: 600px;
    height: 203px;
    color: #534D4D;
    font-family: 'Lato';
    font-weight: bold;
    font-size: 78px;
    margin-top: 285px;
}
.text-container p {
    width: 602px;
    height: 103px;
    font-family: 'Roboto';
    font-size: 22px;
    color: #534D4D;
    margin-top: 42px;
    margin-bottom: 83.9px;
}
.wave {
    width: 263.67px;
    height: 76.77px;
    background-color: #3D37F1;
    margin-bottom: 287.4px;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.wave-logo {
    margin-left: 43px ; 
    margin-right: 27px;   
}
.wave span {
    width: 106px;
    height: 32px;
    font-size: 23px;
    color: #FFFFFF;
    justify-content:center;
    font-family: 'Poppins';
    display: flex;
    align-items: center;
}
/* background image */
.image-container {
    background-image: url(../images/meeting.jpg);
    width: 801px;
    height: 526.63px;
    object-fit: contain;
    background-repeat: no-repeat;
}

/* 2 section */
.main-block {
    width: 1920px;
    height: 1444px;
    margin: 0 auto;
    background-color: #FBFCFD;
}
.text-block {
    width: 712px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}
.row-flex {
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    flex-flow: row wrap;
    width: 1176px;
    margin: 0 auto;
    align-content: space-between;
}
.flex-child-block {
    width: 370px;
    height: 451px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.flex-child-block:nth-child(1) {
    background-color: #FBBA77;
}
.flex-child-block:nth-child(2) {
    background-color: #41EAE3;
}
.flex-child-block:nth-child(3) {
    background-color: #69529F;
}
.flex-child-block:nth-child(4) {
    background-color: #4386D2;
}
.flex-child-block:nth-child(5) {
    background-color: #A5A2F6;
}
.flex-child-block:nth-child(6) {
    background-color: #FF8088;
}
.margin-wrap {
    margin-bottom: 60px;
}

/* text-block 2 section*/
.our-service {
    font-size: 20px;
    color: #3D37F1;
    font-weight: bold;
    width: 140px;
    height: 24px;
    margin-top: 87px;
    margin-bottom: 14px;
    text-transform: uppercase;
}
.we-provide {
    font-size: 40px;
    color: #5A5454;
    text-transform: capitalize;
    width: 578px;
    height: 48px;
    margin-bottom: 21px;
    text-align: center;
}
.our-comitment {
    font-size: 18px;
    color: #747474;
    width: 712px;
    height: 85px;
    margin-bottom: 67px;
    text-align: center;
}
.read-more-block {
    width: 131px;
    height: 45px;
    background-color: none;  
    border: 2px solid #ECE3E3;
    border-radius: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.active {
    background-color: #FBFCFD;
}
.active1 {
    color: #4B647E;
}
 


.website-ui1{
    width: 106px;
    height: 27px;
    margin: 57px 139.4px 13.1px 124.6px;
    font-size: 21px;
    color: #FFFFFF;
}
.website-ui2 {
    width: 92px;
    height: 27px;
    margin: 48.8px 146.4px 13.1px 131.6px;
    font-size: 21px;
    color: #FFFFFF;
}
.website-ui3 {
    width: 136px;
    height: 27px;
    margin: 41.6px 124.4px 13.1px 109.6px;
    font-size: 21px;
    color: #FFFFFF;
}
.website-ui4 {
    width: 138px;
    height: 27px;
    margin: 66px 123.4px 13.1px 108.6px;
    font-size: 21px;
    color: #FFFFFF;
}
.website-ui5 {
    width: 116px;
    height: 27px;
    margin: 62.5px 134.4px 13.1px 119.6px;
    font-size: 21px;
    color: #FFFFFF;
}
.website-ui6 {
    width: 140px;
    height: 27px;
    margin: 57.9px 122.4px 13.1px 107.6px;
    font-size: 21px;
    color: #FFFFFF;
}
.fast {
    width: 328px;
    margin: 0px 21px 23px 21px;
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
}
.read-more {
    font-size: 15px;
    color: #FFFFFF;
}


/* fonts */
.lato {
    font-family: 'Lato';
}
.roboto {
    font-family: 'Roboto';
}



 